---
title: Schedule
description: Everything that's happening at Chrome Dev Summit.
---

{% extends 'layouts/main/index.njk' %}

{% block content %}
  {%- set moduleCSS = "/_includes/module.css" -%}
  {% css page, moduleCSS %}
  {%- set pageCSS = "/_includes/page.css" -%}
  {% css page, pageCSS %}
  {%- set css = "/schedule/style.css" -%}
  {% css page, css %}

  <div class="{% className pageCSS, 'header' %}">
    <div>
      <h1 id="sessions" class="{% className moduleCSS, 'heading' %} {% className pageCSS, 'heading' %}">{% headingSlug "Schedule" %}</h1>
      {% set icslink="fullevent.ics" %}
      <div class="{% className pageCSS, 'heading-extra' %}">{% include 'add-to-cal/index.njk' %}</div>
    </div>
    <div>
      <div class="{% className pageCSS, 'boxed-content' %}">
        <p>
          Every session is available through Livestream during the event, and available after the event on the
          <a href="https://www.youtube.com/user/ChromeDevelopers" rel="noopener noreferrer" target="_blank">Chrome Developers YouTube channel</a>.
        </p>
        <div class="{% className css, 'tz-switch' %}">
          <div class="{% className css, 'tz-switch-title' %}">Schedule timezone</div>
          {% include 'timezone-toggle/index.njk' %}
        </div>
      </div>
    </div>
  </div>

  <div class="{% className css, 'schedule-block' %}">
    <script>
      // Avoid visible date switch:
      if (localStorage.timezoneOption !== 'venue') {
        document.currentScript.parentNode.style.visibility = 'hidden';
      }
    </script>
    {% schedule collections.session, collections.speakers %}
  </div>
  <script>
    self.schedule = {% json collections.jsSchedule %};
  </script>

  <section class="{% className moduleCSS, 'root' %} {% className css, 'overflow' %}">
    <h1 class="{% className moduleCSS, 'heading' %}">{% headingSlug "Overflow" %}</h1>
    <p>There’s more to the event than the main schedule! Find it all here.</p>

    <div class="{% className css, 'split-boxes' %}">
      <div>
        <div class="{% className css, 'content-box' %}">
          <div id="workshops" class="{% className css, 'workshops-heading' %}">
            <h2>Workshops</h2>
            <a href="https://events.withgoogle.com/chrome-dev-summit-2020/registrations/new/" target="_blank" rel="noopener noreferrer">Request an invite</a>
          </div>
          <div class="{% className css, 'workshops-tz-switch' %}">{% include 'timezone-toggle/index.njk' %}</div>
          <div class="workshops-block">
            <script>
              // Avoid visible date switch:
              if (localStorage.timezoneOption !== 'venue') {
                document.currentScript.parentNode.style.visibility = 'hidden';
              }
            </script>
            {% workshops collections.workshop %}
          </div>
        </div>
        <script>
          self.workshops = {% json collections.jsWorkshops %};
        </script>
        <script type="module" async src="confboxAsset(/schedule/script/index.js)"></script>
      </div>
      <div>
      </div>
    </div>
  </section>

  {% include 'subscribe-promo/index.njk' %}
  {% from 'squiggle-banner/index.njk' import squiggleBanner %}
  {{ squiggleBanner(page, '--red') }}

  <link rel="stylesheet" media="print" href="confboxAsset(/schedule/print.css)">

{% endblock %}
